/***** GENERAL STYLING *****/
/*Affects entire document */
html{
  scroll-behavior:smooth;
}

/* BODY */


.background {
  width: 100%;
  height: 400px;
  background-image: url(), linear-gradient(to right, white,  #86945e); /*include screenshot of code here */

}


.footer {
  text-align: right;
  color:white;
}